body{
    background-image: url(https://images.unsplash.com/photo-1599036629621-07f8cb665695?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2340&q=80);
}
#header{
    display: flex;
    justify-content: center;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: #0A6EBD;
    font-size: 60px;
}
h1:hover{
    background: linear-gradient(to right, #ACBCFF ,#AEE2FF);
}
hr{
    text-decoration: none;
    border-bottom: 1px solid blue;
    width: 50%;
}
#container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
#btn{
    align-self: center;
    margin: 10px;
    margin-top: 60px;
    padding: 20px;
    width: 300px;
    border: none;
}
a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #164B60;
    
}
#btn:hover{
    background: linear-gradient(to right, #ACBCFF ,#AEE2FF);
}